[Unit]
Description=scala-bot

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/dist/app
WorkingDirectory=/dist

[Install]
WantedBy=multi-user.target
