.song-page__body {
    padding: 16px;
}

.song-page__lyrics {
    /*todo*/
    font-family: "Roboto Mono", monospace;
    font-size: 1rem;
    line-height: 1.4rem;
    white-space: pre-wrap;
    padding: 16px;
}

/*todo*/
.chord {
    color: var(--tg-theme-link-color);
}

.song-page__centered-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.song-page__inputs-row {
    display: flex;
    flex-direction: row;
    gap: 8px; /* Adds space between inputs */
    align-items: center;
}

/* If you need to control width of individual inputs */
.song-page__inputs-row > * {
    flex: 1; /* Makes each input take equal space */
}

.song-page__title-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.song-page__title-row > *:first-child {
    flex: 1;
    margin-right: 8px;
}