@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import "tailwindcss";

@theme {
    --font-roboto-mono: "Roboto Mono", monospace;
}

html {
    overscroll-behavior-y: none;
}

body {
    background: var(--tg-theme-secondary-bg-color, white);
    padding: 0;
    margin: 0;
}

/*todo*/
.chord {
    color: var(--tg-theme-link-color);
}

.sortable-chosen.sortable-ghost {
    opacity: 0;
}

.sortable-fallback {
    opacity: 1 !important;
}

.sortable-ghost, .sortable-chosen {
    filter: brightness(90%);
}

html.dark .sortable-ghost, html.dark .sortable-chosen {
    background-color: var(--tg-theme-bg-color);
    filter: brightness(85%);
}
