@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import "tailwindcss";

@theme {
    --font-roboto-mono: "Roboto Mono", monospace;
}

html {
    overscroll-behavior-y: none;
}

body {
    background: var(--tg-theme-secondary-bg-color, white);
    padding: 0;
    margin: 0;
}

.root {
    isolation: isolate;
}

/*todo*/
.chord {
    color: var(--tg-theme-link-color);
}

input[type="date"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
