<!doctype html>
<html lang="en">
{{template "global/header" .}}

<body>
<div class="container">
    <select id="roles" multiple>
        {{ range $i, $role := .Roles }}
            <option value="{{ hex $role.ID }}">{{$role.Name}}</option>
        {{end}}
    </select>

    <table class="table table-sm" id="filtered-table">
        <thead>
        <tr>
            <th scope="col">First</th>
            <th scope="col">Handle</th>
        </tr>
        </thead>
        {{/*        <tbody>*/}}
        {{/*        <tr>*/}}
        {{/*            <td>Mark</td>*/}}
        {{/*            <td>@mdo</td>*/}}
        {{/*        </tr>*/}}
        {{/*        <tr>*/}}
        {{/*            <td>Jacob</td>*/}}
        {{/*            <td>@fat</td>*/}}
        {{/*        </tr>*/}}
        {{/*        <tr>*/}}
        {{/*            <td>Larry the Bird</td>*/}}
        {{/*            <td>@twitter</td>*/}}
        {{/*        </tr>*/}}
        {{/*        </tbody>*/}}
    </table>
</div>

<script type="text/javascript">
    const lang = {{ .Lang }};
    let users = {{ .Users }};

    {{/*const createText = {{translate "text.create" .Lang}};*/}}

</script>
<script type="module" src="/webapp/assets/js/statistics.js"></script>
</body>
</html>